---
extends: default

ignore: |
  .github/workflows/

rules:
  new-lines:
    type: unix

  line-length:
    max: 120
    level: warning

  comments:
    min-spaces-from-content: 1

  truthy:
    check-keys: false
